/*Services======================================================*/
.services {
	margin-top: 10px;
}

.services__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
