/*Header======================================================*/
.header {
	display: block;
	width: 90%;
	padding: 25px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #CFA95E;
	z-index: 100;
	border-radius: 20px;
	border: 1px solid;
	border-color: transparent;
}

.header:hover {
	border-color: #fff;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	margin-right: 50px;
}

.header__logo__title {
	color: #fff;
	font-family: "Open Sans";
	font-size: 23px;
	font-weight: 700;
}

.nav {
	max-width: 100%;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu__item {
	margin-left: 50px;
	position: relative;
}

.menu__item:after {
	margin-bottom: 5px;
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0; 
	z-index: 1;
	width: 0;
	height: 1px; 
	background-color: #fff;
	content: "";
	transition: width 0.2s ease-out;
}

.menu__item:hover:after,
.menu__item:focus:after {
	width: 100%; 
}

.menu__item:first-child {
	margin-left: 0;
}

.menu__link {
	color: #fff;
	font-family: "Open Sans";
	font-size: 17px;
	font-weight: 400;
	opacity: 1;
	background: none;
}

.menu__item:hover .menu__link {
	opacity: 0.7;
}

.menu__next__level {
	width: 170px;
  padding: 20px;
  background-color: #CFA95E;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: -60px;
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.menu__next__level.catalog {
	width: 250px;
	left: -80px;
}

.menu__item:hover .menu__next__level {
	pointer-events: all;
	height: auto;
	opacity: 1;
}

.menu__next__level__item {
	text-align: center;
  margin-bottom: 10px;
  padding-bottom: 3px;
  position: relative;
}

.menu__next__level__item:after {
	margin-bottom: 5px;
	display: block;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%); 
	z-index: 1;
	width: 0;
	height: 1px; 
	background-color: #fff;
	content: "";
	transition: width 0.2s ease-out;
}	

.menu__next__level__item:hover:after,
.menu__next__level__item:focus:after {
	width: 90%; 
}

/*.menu__next__level__item:hover {
	border-color: #fff;
}*/

.menu__next__level__link {
	color: #fff;
	font-family: "Open Sans";
	font-size: 17px;
	font-weight: 400;
	opacity: 1;
}

.menu__next__level__link:hover {
	opacity: .7;
}

.nav__btn {
	color: #000;
	font-family: "Open Sans";
	font-size: 17px;
	font-weight: 400;
	background: #fff;
	margin-left: 30px;
	padding: 15px 20px;
	border-radius: 30px;
}

.nav__btn:hover {
	opacity: .8;
}

@media(min-width: 1820px) {
	.header {
		padding: 30px 20px;
	}

	.header__inner {
		display: flex;
		justify-content: space-between;
	}

	.menu__link, .menu__next__level__link {
		font-size: 25px;
	}

	.nav__btn {
		font-size: 30px;
		padding: 20px 30px;
	}
}

/*Burger======================================================*/
.burger{
  display: none;
  cursor: pointer;
  padding: 15px 0;

  background: none;
  border: 0;
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 100;
}

.burger__item{
  display: block;
  width: 30px;
  height: 3px;
  background: #EECC92;

  font-size: 0;
  color: transparent;
  position: relative;
  cursor: pointer;
}

.burger__item:before, 
.burger__item:after{
  content: "";
  width: 100%;
  height: 3px;
  cursor: pointer;

  background: #EECC92;
  
  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item:before{
  width: 25px;
  top: -8px;
}

.nav.burger.hide {
	transform: scale(0);
	transition: all .1s linear;
}

.nav.burger {
	transform: scale(1);
}

.nav.burger .menu {
	padding: 30px;
	border-radius: 12px;
	background-color: #EECC92;
	position: absolute;
	top: 40px;
	right: 10px;
	z-index: 100;
	display: block;
	color: #000;
}

.nav
.menu__item,
.menu__link,
.menu__next__level__item,
.menu__next__level__link {
	color: #fff;
}

.nav.burger .menu__item {
	margin-left: 0;
	margin-bottom: 10px;
}

.nav.burger .menu__item:after {
	display: none;
}

.nav.burger .menu__next__level {
	background-color: #EECC92;
	border: 1px solid #fff;
	z-index: 1000;
}

.burger__item:after{
  width: 28px;
  height: 3px;
  bottom: -8px;
}

@media(max-width: 1200px) {
  .header {
  	padding: calc(20px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
  }
}

@media(max-width: 767px) {
	.header {
		display: none;
	}
	.header__logo {
		display: none;
	}

	.menu__item,
	.menu__link,
	.menu__next__level__item,
	.menu__next__level__link {
		color: #000;
	}

  .burger {
		display: block;
	}
}
