.advantages {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
}

.advantage {
	max-width: 23%;
	margin-right: 20px;
}

.advantage:last-child {
	margin-right: 0;
}

.advantage__image__block {
	margin-bottom: 15px;
}

.advantage__image {
	filter: invert(1);
}

.advantage__info {
	color: #fff;
	text-align: center;
}

.advantage__title {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.advantage__description {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 600;
	text-align: center;
}
