/*Works======================================================*/
.works {}

.works__categories {
	margin-bottom: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.works__category {
	padding: 20px 30px;
	border: 2px solid #00897b;
	margin-right: 20px;
	cursor: pointer;
}

.works__category:last-child {
	margin-right: 0;
}

.works__btn {
	color: #212121;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 400;
}

.works__category:hover {
	background-color: #00897b;
}

.works__category:hover .works__btn {
	color: #fff;
}

.works__inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

.works__view__btn {
	margin: 0 auto;
	text-align: center;
}

.works__more__btn {
	padding: 26px 62px;
	cursor: pointer;
	background-color: #D4A243;

	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;

	transition: all .1s linear;
}

.works__more__btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.works__more__btn:active {
  background-color: #B58B3B;
}
