/*Intro======================================================*/
.intro {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-color: rgba(0, 0, 0, 1);
	position: relative;
}

.intro__bg {
	position: absolute;
	top: 0;
	left: 0;
	background: url('../../assets/0036.jpg') center no-repeat;
	background-size: cover;
	opacity: 0.6;
	width: 100%;
	height: 100vh;
}

.intro__inner {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	z-index: 1;
	margin-right: 0 auto;
	width: 100%;
	text-align: center;
}

.intro__title {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 60px;
	font-weight: 400;
	margin-bottom: 30px;
}

.intro__subtitle {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 108px;
}

.intro__get__started {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro__btn {
	border: 3px solid #ffffff;
	padding: 28px 35px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
}

.intro__btn:first-child {
	margin-right: 25px;
}

.intro__btn:hover {
	border-color: #CFA95E;
	background-color: #CFA95E;
}
