.footer {
	text-align: center;
	color: #212121;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.bottom__footer {
	width: 100%;
	background: #000;
	color: #fff;
	padding: 10px;
}
