.example__inner {

	border-radius: 12px;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	overflow: hidden;
}

.example__img__block {
	width: 60%;
	height: 100%;
}

.example__img {
	height: 100%;
	width: 100%;
}

.example__info {
	padding: 90px;
	max-width: 50%;
	text-align: center;
}

.example__title {
	font-family: 'Sansita Swashed', cursive;
	font-weight: 700;
	font-size: 45px;
	margin-bottom: 40px;
	color: #CFA95E;
}

.example__subtitle {
	margin-bottom: 40px;
	font-size: 20px;
}

.example__text {
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 50px;
}

.example__btn {
	cursor: pointer;
}

.example__link {
	padding: 10px 20px;
	background-color: #CFA95E;
	color: #fff;
	max-width: 40px;
}

.example__btn:hover .example__link {
	background-color: #B58B3B;
}
