* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after {
  box-sizing: border-box;
}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{overflow-x: hidden;height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*Container======================================================*/
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  scrollbar-color: #CFA95E rgba(0, 0, 0, .2);     
  scrollbar-width: thin; 
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  width: 100%;
  min-width: 1200px;
}

* {
	transition: all .2s linear;
}

body.scroll__hidden {
  overflow: hidden;
}

.to__up {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d7534f;
}

.to__up:hover {
  background-color: #f7534f;
}

.to__up__img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  filter: invert(1);
  z-index: 1;
}

/*Section======================================================*/
.section {
  padding: 125px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

@media(max-width: 1200px) {
  .section {
    padding: calc(20px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
    padding-right: 0;
    padding-left: 0;
  }

  .container {
    max-width: calc(1100px + (1100 - 320) * ((100vw - 320px) / (1200 - 320)));
  }
}

/*About=================================*/
.section.about {
  padding-top: 100px;
}

.section.about .section__header {
  margin-bottom: 10px;
  max-width: 80%;
}

.section.about .section__title {
  color: #CFA95E;
}

/*Works=================================*/
.section.works {
  padding-bottom: 30px;
}

.section.works .section__header {
  margin-bottom: 60px;
}


/*Cooperation=================================*/
.section.cooperation__categories {
  padding-top: 80px;
  background-color: #CFA95E;
  color: #fff;
  padding-bottom: 70px;
}

.section.cooperation__categories .section__header {
  margin-bottom: 80px;
}

.section.cooperation__categories .section__title {
  color: #fff;
}

.section.cooperation {
  margin-top: 100px;
  padding-bottom: 10px;
}

.section.cooperation .section__title {
  color: #CFA95E;
  margin-top: 30px;
}

.section.cooperation .section__subtitle {
  font-size: 25px;
  margin-bottom: 30px;
}

.section.cooperation .section__text {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

/*Politics=================================*/

.section.politics {
  margin-top: 100px;
}

.section.politics .section__title {
  color: #CFA95E;
}

.section.politics .section__text {
  font-size: 25px;
}

/*Care Flowers=================================*/

.section.care__with__plants {
  padding-top: 50px;
  margin-top: -50px;
}

.section.care__with__plants .section__header {
  margin-top: 0;
}

/*Supply=================================*/

.section.supply {
  padding: 0;
  margin-top: 150px;
}

.section.supply .section__header {
  margin-bottom: 50px;
}

.section.supply .section__title {
  font-size: 60px;
  color: #CFA95E;
}

.section.supply .section__subtitle {
  font-size: 25px;
  margin-bottom: 30px;
}

/*Green Walls=================================*/

.section.green--walls {
  padding-bottom: 0px;
  margin-top: 100px;
}

.section.green--walls .section__header {
  margin-bottom: -50px;
  min-width: 900px;
}

.section.green--walls .section__title {
  font-size: 60px;
  color: #CFA95E;
}

.section.green--walls .section__subtitle {
  font-size: 30px;
  margin-bottom: 30px;
}

/*Realization=================================*/

.section.realization {
  background-color: #CFA95E;
  padding-bottom: 50px;
  color: #fff;
}

.section.realization .section__header {
  margin-bottom: 50px;
  color: #fff;
}

/*Garden Inside=================================*/

.section.garden__inside {
  padding: 30px 0;
  padding-top: 50px;
}

.section.garden__inside .section__header {
  max-width: 800px;
}

.section.garden__inside .section__title {
  font-size: 50px;
  color: #CFA95E;
}

.section.garden__inside .section__subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.section.garden__inside .section__text{
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

/*Gold=================================*/

.gold {
  background-color: #CFA95E;
}

/*Catalog=================================*/

.section.catalog {
  padding: 50px 0;
}

.section.catalog .section__header {
  margin-bottom: 50px;
}

/*How To Buy=================================*/

.section.how__to__buy {
  background-color: #CFA95E;
  padding-bottom: 50px;
  color: #fff;
}

.section.how__to__buy .section__header {
  margin-bottom: 50px;
  color: #fff;
}

/*Dark=================================*/

.section.dark {
  background-color: #fff;
}

.section.dark .section__header {
  color: #000;
}

/*Flowers=================================*/

.section.flowers {
  margin-top: 100px;
}

.section.flowers .section__header {
  margin-bottom: 50px;
}

/*Examples=================================*/
.section.examples1 {
  background-color: #CFA95E;
  color: #fff;
  padding: 50px;
}

.section.examples1 .section__header {
  margin-bottom: 70px;
  color: #fff;
}

.section.examples1 .example__inner {
  background-color: #fff;
  color: #000;
}

.section.examples2 {
  background-color: #fff;
  color: #000;
  padding: 50px;
}

.section.examples2 .section__header {
  margin-bottom: 70px;
  color: #000;
}

.section.examples2 .example__inner {
  background-color: #000;
  color: #fff;
}

.section.examples3 {
  background-color: #CFA95E;
  color: #fff;
  padding: 50px;
}

.section.examples3 .section__header {
  margin-bottom: 70px;
  color: #fff;
}

.section.examples3 .example__inner {
  background-color: #fff;
  color: #000;
}

.section.examples4 {
  background-color: #fff;
  color: #000;
  padding: 50px;
}

.section.examples4 .section__header {
  margin-bottom: 70px;
  color: #000;
}

.section.examples4 .example__inner {
  background-color: #000;
  color: #fff;
}

.section.examples5 {
  background-color: #CFA95E;
  color: #fff;
  padding: 50px;
}

.section.examples5 .section__header {
  margin-bottom: 70px;
  color: #fff;
}

.section.examples5 .example__inner {
  background-color: #fff;
  color: #000;
}

/*Services=================================*/

.section.services {
  background-color: #e4fdf9;
}

/*Projects=================================*/

.section--projects{
  background-color: #EFE6E6;
  padding-bottom: 50px;
}

/*Pricing=================================*/

.section.pricing {
  background: #f0f0f0;
  z-index: -2;
}

/*Contacts=================================*/

.section.section__contacts {
  padding-top: 120px;
  background: url('./assets/contacts/Layer_1.png') center no-repeat;
  background-size: cover;
  background-color: #212121;
  color: #fff;
  padding-bottom: 70px;
}




/*================================================*/

.section__header {
  margin: 0 auto;
  text-align: center;
  max-width: 620px;
  margin-bottom: 100px;
  color: #212121;
}

.section__title {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 35px;
}

.section__subtitle {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.white__color {
  color: #fff;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: rgba(0, 0, 0, .3);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #CFA95E;
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #CFA95E;
}
