.works__item {
	position: relative;
	overflow: hidden;
	margin-right: 20px;
	margin-bottom: 20px;
	max-width: 30%;
	cursor: pointer;
	object-fit: cover;
}

.works__item:nth-child(3, 6, 9) {
	margin-right: 0;
}

.work__info {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	text-align: center;
	opacity: 0;

	transform: translate3d(-50%, -50%, 0);

	transition: all .3s linear;
}

.works__item:hover .work__info {
	opacity: 1;
}

.works__item:hover {
	background: #000;
}

.works__item:hover .works__img {
	opacity: 0.3;
	transform: scale(1.1);
}

.works__img {
	width: 350px;
	height: 350px;
	transition: all .4s linear;
}

.work__photo {
	object-fit: cover;
	width: 350px;
	height: 350px;
}

.works__title {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 5px;
}

.works__text {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
}