.plant__care {
	padding-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;
	background-size: cover;
	background-color: rgba(0, 0, 0, .95);
	position: relative;
}

.plant__care__bg {
	position: absolute;
	top: 0;
	left: 0;
	background: url('../../assets/0036.jpg') center no-repeat;
	opacity: 0.6;
	width: 100%;
	height: 100%;
}

.plant__care__inner {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	z-index: 1;
	margin-right: 0 auto;
	width: 100%;
	text-align: center;
	opacity: 1;
}

.plant__care__title {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 70px;
	font-weight: 400;
	margin-bottom: 30px;
}

.plant__care__subtitle {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 108px;
}
